<!DOCTYPE html>
<html data-ng-app="app">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <title></title>
</head>

<body data-ng-controller="myCtrl">
  <nav>
    <input placeholder="Search by Title" ng-model="input" />
  </nav>

  <div data-ng-repeat="post in diary | filter: input">
    <h3>{{post.title}}</h3>
    <h6>{{post.entry_date}}</h6>
    <p>{{post.posts}}</p>
    <img src="{{post.img_url}}" alt="pic">
  </div>




  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.js"></script>
  <script src="app.js"></script>
  <script src="myCtrl.js"></script>
</body>

</html>